
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Design</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="fontawesome-free/css/all.min.css">
</head>
<body>
	
	<header>
		
		<div class="navigation">
			<div class="logo">Artissa</div>
			<div class="menu">
				<ul class="nav">
					<li><a class="link" href="#">Биржа</a></li>
					<li><a class="link" href="#">Компания</a></li>
					<li><a class="link" href="#">Медиа</a></li>
					<li><a class="link" href="#">Поддержка</a></li>
				</ul>
			</div>
		</div>

		<div class="description">
			<h1>Да мы жестко выиграли грант</h1>
			<p>Покупайте билеты на концерт виажопы</p>
			<br>
		</div>

		<div class="end-head">
			<div class="post-navigation">
				<ul class="post-nav">
					<li><a class="link" href="#">Конфиденциальность</a></li>
					<li><a class="link" href="#">Гарантии</a></li>
					<li><a class="link" href="#">Поддержка</a></li>
					<li><a class="link" href="#">Контакты</a></li>
				</ul>
			</div>
		</div>

	</header>

</body>
</html>